/*Styling for all the different blocks by id */
#print {
	-fx-background-color: #CA01D0;
}

#if {
	-fx-background-color: #D06201;
}


#variable {
	-fx-background-color: #016FD0;
	-fx-text-fill: gray;

}